
.y.axis {
    font: 20px sans-serif;
}

.x.axis {
    font: 12px sans-serif;
}

.legend {
    font: 16px sans-serif;
}
body {
    background-color: ghostwhite;
        color:black;
}

*, *:after, *:before {
    box-sizing: border-box;
}
body {
    color: whitesmoke;
    font: 20px sans-serif;
    background-color: black;
}
form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
label {
    display: flex;
    cursor: pointer;
    font-weight: 50;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
}
label input {
    position: absolute;
    left: -9999px;
}
label input:checked + span {
    background-color: cadetblue;
}
label input:checked + span:before {
    box-shadow: inset 0 0 0 0.4375em #00005c;
}
label span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
}
label span:hover {
    background-color: cadetblue;
}
label span:before {
    display: flex;
    flex-shrink: 0;
    content: "
    "
;
    background-color: cadetblue;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #00005c;
}


.container1 {
    font: 17px sans-serif;
    border-radius: 25px;
    padding: 10px;
    border: 5px ridge cadetblue;
    display: table-cell
}

.container2 {
    border-radius: 25px;
    padding: 10px;
    border: 5px ridge cadetblue;
    display: table-cell;
}


.row {
    position: absolute;
    top: 15px;
    right: 20px;
    display: table;
    border-spacing: 25px 10px; /*Optional*/
    height: 800px;

}
.svg {
    border-radius: 25px;
    margin-top: 5px;
    margin-left: 30px;
    padding-left: 15px;
    padding-top: 10px;
    width: 1350px;
    border: 5px ridge cadetblue;
}

.devgen {
    display: table;
    padding: 10px;
    margin-left: 30px;
    border-spacing: 25px 0px;
    border: 5px ridge cadetblue;
    border-radius: 25px;
}

.dev {
    font: 25px sans-serif;
    font-weight: bolder;
    display: table-cell;
}

.gen {
    font: 25px sans-serif;
    font-weight: bolder;
    display: table-cell;
}

