
.y.axis {
    font: 20px sans-serif;
}

.x.axis {
    font: 12px sans-serif;
}

.legend {
    font: 16px sans-serif;
}

*, *:after, *:before {
    box-sizing: border-box;
}
body {
    color: whitesmoke;
    font: 20px sans-serif;
    background-color: #2a2f36;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

label {
    display: flex;
    cursor: pointer;
    font-weight: 50;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
}
label input {
    position: absolute;
    left: -9999px;
}
label input:checked + span {
    background-color: cornflowerblue;
}
label input:checked + span:before {
    box-shadow: inset 0 0 0 0.4375em #00005c;
}
label span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
}
label span:hover {
    background-color: cornflowerblue;
}
label span:before {
    display: flex;
    flex-shrink: 0;
    content: "
    "
;
    background-color: cornflowerblue;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #00005c;
}

.containerPub{
    position: absolute;
    top: 12px;
    right: 10px;
    background-color: black;
    font: 20px sans-serif;
    border-radius: 25px;
    padding-left: 40px;
    border: 5px ridge cornflowerblue;
    width: 490px;
    height: 570px;
}

.containerYear{
    position: absolute;
    top: 600px;
    right: 10px;
    background-color: black;
    font: 21px sans-serif;
    border-radius: 25px;
    padding: 10px;
    border: 5px ridge cornflowerblue;
    width: 490px;
    height: 325px;
}

.container1 {
    display: grid;
    grid: 600px / auto auto auto;
}

.container2 {
    display: grid;
    padding-left: 60px;
    grid: 180px / auto auto auto;
}

.svg {
    background-color: black;
    border-radius: 25px;
    margin-top: 17px;
    margin-left: 30px;
    padding-left: 15px;
    padding-top: 10px;
    width: 1350px;
    border: 5px ridge cornflowerblue;
}

.svg1 {
    background-color: black;
    border-radius: 25px;
    margin-top: 17px;
    margin-left: 30px;
    padding-left: 15px;
    padding-top: 10px;
    width: 1350px;
    border: 5px ridge cornflowerblue;
    display: grid;
    grid: 308px / auto auto auto;
}

.pietext {
    height: 230px;
    overflow-y: scroll;
}

.piechart {
    width: 280px;
}

.column2 {
    padding-left:20px;
}

.devgen {
    background-color: black;
    padding: 10px;
    padding-bottom: 0px;
    margin-left: 30px;
    border-spacing: 25px 0px;
    border: 5px ridge cornflowerblue;
    border-radius: 25px;
    font-weight: bolder;
    display: inline-block;
}

label.l {
    display: inline-block;
}

form.l {
    display: inline-block;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border: 0px ridge cornflowerblue;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: cornflowerblue;
    border-radius: 10px;
}
